{{ partial "header.html" . }}
<header id="fh5co-404" class="fh5co-cover" role="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Sorry, we could't find that page.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{ partial "footer.html" . }}
