<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-push-1 animate-box">
            <h3>Our Address</h3>
            <ul class="contact-info">
                <li>
                    <i class="icon-location"></i>
                    {{ .Site.Params.address.street1 }}, {{ .Site.Params.address.street2 }}
                    <br />
                    {{ .Site.Params.address.city }}, {{ .Site.Params.address.state }} {{ .Site.Params.address.zipcode }}
                </li>
                <!-- <li><i class="icon-old-phone"></i>{{ .Site.Params.contact }}</li> -->
                <!-- <li><i class="icon-mail22"></i><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></li> -->
                <li><i class="icon-globe2"></i><a href="https://{{ .Site.Params.contact.website | relURL }}">{{ .Site.Params.contact.website }}</a></li>
            </ul>
        </div>
        <form action="https://formspree.io/your@email.com" method="POST">
            <div class="col-md-7 col-md-push-1 animate-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="{{ .Site.Params.contact_form.name_placeholder_text }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" name="_replyto" class="form-control" placeholder="{{ .Site.Params.contact_form.email_placeholder_text }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="" cols="30" rows="7" placeholder="{{ .Site.Params.contact_form.message_placeholder_text }}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="{{ .Site.Params.contact_form.submit_button_text }}" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_subject" value="New submission!" />
            <input type="hidden" name="_gotcha" />
        </form>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
