<div id="fh5co-features">
	<div class="container">
		<div class="services-padding">
			<div class="row">
				{{ range first 3 .Site.Params.feature.item }}
				<div class="col-md-4 animate-box">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-{{ .icon_name }}"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ .title }}</h3>
							<p>{{ .details }}</p>
							<!-- <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p> -->
						</div>
					</div>
				</div>
				{{ end }}
			</div>


			<div class="row">
				{{ range after 3 .Site.Params.feature.item }}
				<div class="col-md-4 animate-box">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-{{ .icon_name }}"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ .title }}</h3>
							<p>{{ .details }}</p>
							<!-- <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p> -->
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</div>
