<header id="fh5co-header" class="fh5co-cover" role="banner">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>{{ .Site.Params.title.title }}</h1>
						<h2>{{ .Site.Params.title.subtitle }}</h2>
						<p><a class="btn btn-primary btn-lg btn-demo" href="{{ .Site.Params.title.button_href | relURL }}"></i>{{ .Site.Params.title.button_text }}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
