<div id="fh5co-wireframe">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>{{ .Site.Params.wireframe.title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 animate-box">
				<div class="user-frame">
					<h3>{{ .Site.Params.wireframe.card_title }}</h3>
					<p>{{ .Site.Params.wireframe.card_text }}</p>
					<span>{{ .Site.Params.wireframe.card_name }}</span><br>
					<small>{{ .Site.Params.wireframe.card_credentials }}</small>
				</div>
			</div>
			<div class="col-md-7 animate-box">
				<p>
				</p>
				<p>{{ .Site.Params.wireframe.text1 }}</p>
				<blockquote>
					<p>{{ .Site.Params.wireframe.text2 }}</p>
				</blockquote>
				<p>{{ .Site.Params.wireframe.text3 }}</p>
			</div>
		</div>
	</div>
</div>
